.flatContent {
    color: #FF6060;

    .carousel {
        position: relative;
        background-color: transparent;
        padding: 0;
        height: 400px;
        margin-bottom: 3rem;

        .previous{
            position: absolute;
            border: none;
            background-color: transparent;
            fill: white;
            font-size: 7rem;
            top: 8.5rem;
            left: 2rem;
        }

        .next {
            position: absolute;
            border: none;
            background-color: transparent;
            fill: white;
            font-size: 7rem;
            top: 8.5rem;
            right: 2rem;
        }

        .carousel_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }

        .current_img {
            position: absolute;
            color: white;
            top: 22rem;
            left: 50%;
            font-size: 1.2rem;
        }
    }

    .details_1 {
        display: flex;
        justify-content: space-between;

        .bloc1 {
            .tags {
                display: flex;
                flex-wrap: wrap;
        
                .tag {
                    background-color: #FF6060;
                    color: white;
                    font-size: 0.9rem;
                    border-radius: 0.8rem;
                    margin-right: 1rem;
                    margin-top: 0;
                    padding: 0.5rem 2rem 0.5rem 2rem;
                }
        
            }
            .bloc_title_location{
                h1 {
                    margin-top: 0;
                    padding-right: 2rem;
                }
    
                p {
                    font-size: 1.3rem;
                    padding-bottom: 0.8rem;
                }
            }
        }

        .bloc2 {
            .bloc_host {
                display: flex;
                justify-content: space-between;
                margin-top: -1rem;
    
                .blocName {
                    padding-top: 1rem;
                    
                    .hostName {
                        text-align: right;
                        font-size: 1.2rem;
                        margin-bottom: 0.5rem;
                        margin-top: 0.5rem;
                    }
                }
    
                img {
                    border-radius: 5rem;
                    width: 60%;
                }

            }

            .rate {
                display: flex;
                margin-left: auto;
                padding-top: 2.5rem;
        
                .star {
                    margin-left: 0.5rem;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .details_2 {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;

        .btnDescription {
            width: 100%;
            margin-right: 5rem;
        }

        .btnEquipments{
            width: 100%;
        }

        .dropdownContent {
            background-color: #F6F6F6;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;

            .description.active {
                padding: 0.5rem 2rem 0.5rem 1rem;
            }

            .equipments.active{
                padding: 0.5rem 2rem 0.5rem 1rem;

                ul {
                    list-style: none;
                    padding: 0;
                }
            }
            
            .button {
                display: flex;
                justify-content: space-between;
                background-color: #FF6060;
                border-radius: 0.5rem;
                padding: 0.8rem 1rem 0.8rem 1rem;
                cursor: pointer;

                button {
                    border: none;
                    background-color: transparent;
                    color: white;
                    font-size: 1.2rem;
                    cursor: pointer;
                }

                svg {
                    fill: white;
                    font-size: 1.4rem;
                }
            }

        }
    }
}

@media screen and (max-width: 1000px) {
    .previous{
        font-size: 5rem !important;
        top: 10rem !important;
        left: 2rem !important;
    }

    .next {
        font-size: 5rem !important;
        top: 10rem !important;
        right: 2rem !important;
    }
}

@media screen and (max-width: 800px) {
    .details_1 {
        flex-direction: column;

        .bloc2 {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-top: -1.5rem !important;

            .bloc_host {
                display: flex;
                flex-direction: row;
                justify-content: unset !important;
                padding-top: 2rem;

                .blocName {
                    .hostName {
                        font-size: 1rem !important;
                    }
                }
    
                img {
                    width: 40% !important;
                    height: 85%;
                    margin-top: 0.7rem;
                    margin-left: auto;
                }
            }

            .rate {
                margin-left: 0px !important;
                padding-top: 3.5rem !important;

                .star {
                    font-size: 1rem !important;
                }
            }
        }
    }

    .previous{
        font-size: 3rem !important;
        top: 11rem !important;
    }

    .next {
        font-size: 3rem !important;
        top: 11rem !important;
    }

    .details_2 {
        flex-direction: column;

        .btnDescription {
            margin-bottom: 2rem;
            margin-top: 1rem;
        }
    }
}

