.flatContent {
    color: #FF6060;

    .carousel {
        position: relative;
        background-color: transparent;
        height: 400px;
        margin-top: -1.5rem;

        .previous{
            position: absolute;
            border: none;
            background-color: transparent;
            fill: white;
            font-size: 6rem;
            top: 9rem;
            left: 1.5rem;
        }

        .next {
            position: absolute;
            border: none;
            background-color: transparent;
            fill: white;
            font-size: 6rem;
            top: 9rem;
            right: 1.5rem;
        }

        .carousel_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1.5rem;
        }

        .current_img {
            position: absolute;
            color: white;
            top: 22rem;
            left: 48%;
            font-size: 1.2rem;
        }
    }

    .details_1 {
        display: flex;
        justify-content: space-between;

        .bloc1 {
            .tags {
                display: flex;
                flex-wrap: wrap;
        
                .tag {
                    background-color: #FF6060;
                    color: white;
                    font-size: 0.9rem;
                    border-radius: 0.8rem;
                    margin-right: 1rem;
                    margin-top: 0;
                    padding: 0.5rem 2rem 0.5rem 2rem;
                }
        
            }
            .bloc_title_location{
                h1 {
                    font-weight: lighter;
                    padding-right: 2rem;
                    font-size: 2rem;
                    margin-bottom: -0.5rem;
                }
    
                p {
                    font-size: 1.3rem;
                }
            }
        }

        .bloc2 {
            .bloc_host {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;
    
                .blocName {
                    padding-top: 1rem;
                    
                    .hostName {
                        text-align: right;
                        font-size: 1.2rem;
                        margin-bottom: 0.5rem;
                        margin-top: 0.5rem;
                    }
                }
    
                img {
                    border-radius: 5rem;
                    width: 50%;
                }

            }

            .rate {
                display: flex;
                margin-left: auto;
                padding-top: 2.5rem;
        
                .star {
                    margin-left: 0.5rem;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .details_2 {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;

        .btnDescription {
            width: 100%;
            margin-right: 5rem;

            p {
                font-size: 1.1rem;
                line-height: 1.5rem;
            }
        }

        .btnEquipments{
            width: 100%;

            p {
                font-size: 1.1rem;
                line-height: 0.5rem;
            }
        }

        .blocDropdownContent {
            background-color: #F6F6F6;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;

            .dropdownContent.active {
                padding: 0.5rem 2rem 0.5rem 1.5rem;
            }
            
            .button {
                display: flex;
                justify-content: space-between;
                background-color: #FF6060;
                border-radius: 0.5rem;
                padding: 0.8rem 1rem 0.8rem 1rem;
                cursor: pointer;
                width: 100%;
                color: white;
                align-items: center;
                font-size: 1.3rem;
                border: 0;

                button {
                    border: none;
                    background-color: transparent;
                    color: white;
                    font-size: 1.2rem;
                    cursor: pointer;
                }

                svg {
                    fill: white;
                    font-size: 1.4rem;
                }
            }

        }
    }
}

@media screen and (max-width: 1000px) {
    .previous{
        font-size: 5rem !important;
        top: 10rem !important;
        left: 2rem !important;
    }

    .next {
        font-size: 5rem !important;
        top: 10rem !important;
        right: 2rem !important;
    }
}

@media screen and (max-width: 800px) {
    .carousel {
        height: 300px !important;
        margin-top: 0rem !important;

        .carousel_img {
            border-radius: 1rem !important;
        }

        .current_img {
            top: 16.5rem !important;
            font-size: 1rem !important;
        }
    }

    .details_1 {
        flex-direction: column;

        .bloc1 {
            .bloc_title_location {
                h1 {
                    font-size: 1.6rem !important;
                    padding-bottom: 0.5rem;
                }

                p {
                    font-size: 1rem !important;
                }
            }
        }

        .bloc2 {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-top: -1.5rem !important;

            .bloc_host {
                margin-top: 0 !important;

                .blocName {
                    padding-right: 1rem;

                    .hostName {
                        font-size: 1rem !important;
                    }
                }
    
                img {
                    width: 60px !important;
                    height: 60px;
                    margin-top: 1rem;
                }
            }

            .rate {
                margin-left: 0px !important;
                width: 100%;

                .star {
                    font-size: 1rem !important;
                }
            }
        }
    }

    .previous{
        font-size: 2rem !important;
        top: 8.5rem !important;
        left: 0.5rem !important;
    }

    .next {
        font-size: 2rem !important;
        top: 8.5rem !important;
        right:  0.5rem !important;
    }

    .details_2 {
        flex-direction: column;
        padding-top: 0rem !important;

        .button {
            font-size: 1.1rem !important;
            padding: 0.5rem 0.8rem 0.5rem 0.8rem !important;
        }

        .btnDescription {
            margin-bottom: 2rem;
            margin-top: 1rem;

            p {
                font-size: 1rem !important;
                line-height: 1.3rem;
            }
        }

        .btnEquipments {

            p {
                font-size: 1rem !important;
                line-height: 1.3rem;
            }
        }
    }
}

