.bannerHome {
    position: relative;
    width: 100%;
    height: 100%;

    ::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.30);
        border-radius: 1rem;
    }

    .textBannerHome {
        position: absolute;
        top: 50px;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 2rem;
    }

    .textBannerHome::after {
        content: none;
    }

    .bannerDefault {
        background-color: transparent;
        padding: 0;
        height: 200px;

        .h1Default {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }
}

.apartmentList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:  #F7F7F7;
    padding: 3rem 2rem 1rem 2rem;
    border-radius: 1rem;

    ::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
            0deg,
            rgba(0,0,0,0.6388016388195903) 0%,
            rgba(0,0,0,0) 64%
        );
        border-radius: 1rem;
    }

    .flat {
        position: relative;
        border-radius: 1rem;
        width: calc(100% / 3 - 30px);
        margin-bottom: 3rem;
        height: 25rem;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }

        h1 {
            position: absolute;
            top: 21rem;
            left: 1rem;
            font-size: 1rem;
            color: white;
            overflow: hidden;
            text-overflow: ellipsis;
            z-index: 1;
        }

        h1::after {
            content: none;
        }
    }

    .flat:hover {
        box-shadow: rgba(0, 0, 0, 0.250) 0px 0px 20px 0px;
        transition: 0.2s;
    }
}

@media screen and (max-width: 1200px) {
    .flat {
        height: 22rem !important;

        h1 {
            top: 17rem !important;
        }
    }
}

@media screen and (max-width: 1000px) {
    .flat {
        width: calc(75% / 2 - -50px) !important;
        height: 20rem !important;

        h1 {
            top: 16rem !important;
            font-size: 1rem !important;
        }
    }
}

@media screen and (max-width: 800px) {
    .bannerDefault {
        margin-bottom: 2rem !important;
    }

    .apartmentList {
        background-color:  transparent !important;
        padding: 0 !important;

        .flat {
            margin-bottom: 2rem !important;
        }
    }

    .bannerHome {
        .textBannerHome {
            top: 70px;
            font-size: 1.5rem;
        }
    }
    
    .flat {
        width: calc(50% / 2 - -500px) !important;
    }
}