.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    .Logo_Home {

        img {
            width: 100%;
            min-width: 100px;
        }
    }
}

.navigation {
    display: flex;
    list-style: none;
    padding-top: 1rem;
    width: 100%;

    li {
        padding-left: 3rem;
    }

    .default_link {
        text-decoration: none;
        color: #FF6060;
        font-size: x-large;
    }

    .active_link {
        text-decoration: underline;
    }
}
